<div class="p-2 transition">
  <div class="flex flew-row text-slate-400">
    <%= if !is_nil(@comment.user.profile_pic) do %>
      <img
        src={@comment.user.profile_pic}
        ,
        style="width: 40px; height: 40px; border-radius: 50%;"
      />
    <% else %>
      <.icon name="hero-user-circle" class="h-10 w-10" />
    <% end %>

    <div style="margin-left: 1rem;">
      <div
        class="text-white font-medium"
        style="font-weight: bold; text-align: start; font-size: 0.75rem;"
      >
        {@comment.user.email}
      </div>
      <div style="font-size: 1rem; text-align: start;" class="text-slate-300">
        {@comment.text}
      </div>
      <div style="display: flex; ">
        <div class="flex gap-2 py-2" style="">
          <div
            class="text-primary-500  font-semibold cursor-pointer"
            phx-click="add-reply-form"
            phx-target={@myself}
            phx-value-id={@comment.id}
          >
            Reply
          </div>
          <div
            class="cursor-pointer"
            phx-click="vote_comment"
            phx-value-reaction="true"
            phx-value-id={@comment.id}
            phx-target={@myself}
          >
            Like
          </div>
          <div class="flex gap-1">
            <span class="text-primary-500">{get_positive_votes(@comment.votes)}</span>
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <!-- Rounded background -->
              <rect width="24" height="24" rx="6" fill="#2563EB" />

              <!-- Upvote arrow -->
              <path
                d="M12 5L6.5 10.5H10V18H14V10.5H17.5L12 5Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </div>

      <%= for co_an <- @comment.comment_answers do %>
        <div style="margin-bottom: 0.75rem; ">
          <div style="display: flex; flex-direction: row;">
            <%= if !is_nil(co_an.user.profile_pic) do %>
              <img
                src={co_an.user.profile_pic}
                ,
                style="width: 30px; height: 30px; border-radius: 50%;"
              />
            <% else %>
              <.icon name="hero-user-circle" class="h-10 w-10" />
            <% end %>

            <div style="margin-left: 1rem;">
              <div style="font-weight: bold; text-align: start; font-size: 0.75rem;">
                {@comment.user.email}
              </div>
              <div style="font-size: 1rem; text-align: start; color: var(--clr-dark_1)">
                {co_an.text}
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= if(not is_nil(@reply))  do %>
        <%= if @comment.id == @reply.comment_id  do %>
          <%= if @current_user do %>
            <.live_component
              module={MehungryWeb.RecipeDetailsLive.FormComponentCommentAnswer}
              id={"comment_answer_form_alla" <> to_string(@comment.id)}
              action={@live_action}
              user={@current_user}
              class="text-slate-800"
              comment_answer={%{comment_id: @reply.comment_id, user_id: @current_user.id}}
            />
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
