<div class="flex flex-col gap-3">

  <.input required field={@f[:title]} type="text" label="Title"  class=""/>
  <.input required field={@f[:servings]} type="text" label="Servings" />
  <.input required field={@f[:description]} type="text" label="Description" />   <.input field={@f[:language_name]} type="hidden"  />
</div>
