<div
  class="min-h-screen bg-slate-900 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  style="min-height: 95vh;"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <img src="/images/logo2.svg" width="55px;" style="margin-left: auto; margin-right: auto;" />
    </div>
    <div class="text-center font-bold text-3xl">
      Resend confirmation
      <p class="quote">Enter your email to receive a new confirmation link</p>
    </div>

    <.form :let={f} for={%{}} as={:user} class="login_form" action={Routes.user_confirmation_path(@conn, :create)}>
      <div class="input_group_container">
        {label(f, :email)}
        {email_input(f, :email, required: true, placeholder: "email")}
      </div>

      <div class="login_submit_button">
        {submit("Resend confirmation email",
          style:
            "color: white; border: 1px solid #77b255; height: 3rem; border-radius: 990px; font-size: calc(0.8rem + 0.35vw );",
          class: "link_button"
        )}
        <span style="text-align: center"> OR </span>
        <a
          class="flex items-center rounded-full border-solid border-2"
          style="height: 3rem; border-color: var(--clr-complementary-middle)"
          href={Routes.user_session_path(@conn, :new)}
        >
          <div
            class="w-full p-2 flex items-center gap-1 font-medium"
            style="font-size: calc(0.7rem + 0.5vw );"
          >
            <img style="width: 40px;" src="/images/logo2.svg" />
            <span class="w-full text-center" style="color: var(--clr-complementary-middle);">
              Back to Login
            </span>
          </div>
        </a>
        <a
          class="flex items-center rounded-full border-solid border-2"
          style="height: 3rem; border-color: var(--clr-complementary-middle)"
          href={Routes.user_registration_path(@conn, :new)}
        >
          <div
            class="w-full p-2 flex items-center gap-1 font-medium"
            style="font-size: calc(0.7rem + 0.5vw );"
          >
            <img style="width: 40px;" src="/images/logo2.svg" />
            <span class="w-full text-center" style="color: var(--clr-complementary-middle);">
              Register
            </span>
          </div>
        </a>
      </div>
    </.form>
  </div>
</div>
