<div class=""  style = ""> 
<.form
  let={f}
  for={@changeset}
  id="recipe-search-form"
  class="form-search"

  phx-change="validate"
  phx-submit="search">
	<div class ="">	
	  <%= text_input f, :query_string , class: "w-full h-full rounded-full p-3", style: "background-color:#eaeaea" %>
	  <%= submit "", phx_disable_with: "Searching..." , class: "invisible"%>
	</div>
 
</.form>
</div>

