    <div class="flex flex-col lg:flex-row h-full">
  <!-- Weekly Grid -->
  <div class="w-full lg:w-3/4 p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-7 gap-4">
      <%= for day <- @week do %>
        <.live_component
          module={MehungryWeb.DayCardComponent}
          id={"day-#{day.date}"}
          day={day}
        />
      <% end %>
    </div>
  </div>

  <!-- Sidebar -->
  <aside class="hidden lg:block w-1/4 bg-white border-l p-4 overflow-y-auto">
    <MehungryWeb.CalendarLive.NutritionSidebarComponent.nutrition_sidebar  nutrition_data ={@nutrition_data}, warnings = {@warnings} />
    <button
      phx-click="toggle_grocery_list"
      class="mt-6 w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded-lg"
    >
      🛒 View Grocery List
    </button>
  </aside>


</div>

