<div>
<.header>
  {@title}
</.header>

<.simple_form for={@form} id="language-form" phx-target={@myself} phx-submit="save">
  <.input field={@form[:name]} label="Language Name" />

  <:actions>
    <.button phx-disable-with="Saving...">
      Save Language
    </.button>
  </:actions>
</.simple_form>
</div>
