@import "./essentials.css";
@import "./card.css";
@import "./profile.css";
@import "./onboarding.css";
@import "./nav_bar.css";
@import "./basket.css";
@import "./calendar.css";
@import "./stepper.css";
@import "./stepper2.css";
@import "./browse.css"; 
@import "./create.css";
@import "./override.css"; 


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


.the_checkbox {
   background-color: red;
}

.button {
  	color: white;
  	padding: 5px 25px;
  	font-weight: bold;
    @apply rounded-2xl text-white hover:opacity-65;
  }

  .button_outline_primary {
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    @apply border-2 bg-transparent border-solid border-primary text-primary hover:bg-primary hover:text-white;
  }
  .button_outline_complementary {
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    @apply border-2 bg-transparent border-solid border-complementary text-complementary hover:bg-complementary hover:text-white;
  }

h1 {
  font-weight: 650;
  font-size: 1.3rem;
}
.delete_button {
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
  /*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  h3 {
    font-weight: bold ; 
    @apply text-2xl text-gray-600;
  }

  /*---------- Custon Containers ---------------------------------------------------------------------------------------------------*/

  .basic_2_col_grid_cont{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media only screen and (min-height: 600px) {
  .basic_2_col_grid_cont{
      margin-bottom: 1vh;
      margin-top: 1vh;
      gap: 0.5rem;
    }

  }

  @media only screen and (min-width: 1400px) {

    .basic_2_col_grid_cont{
      display: grid;
      gap: 1rem;
      margin-bottom: 0;
      justify-content: space-around;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .nav_content {
    display: none;
  }
  .nav_content.active {
    display: block;
  }
}


/* -- Preventing Chrome's autofill interventions ------------------------------------ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
