@import "./essentials.css";
@import "./browse.css";
@import "./card.css";
@import "./profile.css";
@import "./onboarding.css";
@import "./nav_bar.css";
@import "./basket.css";
@import "./calendar.css";
@import "./create.css";
@import "./select2.css";

@tailwind components;
@tailwind base;
@tailwind utilities;


.main-content-container{
}
.main_nav_content {
	font-weight: 800;
}
.main-page-container-bg{
	background-color: #eaeaea;
	padding: 2rem;
}

.main-page-container{
	padding: 2rem;
	position: relative;
}
