
.listing_title{
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--clr-dark_1);
}

.ingredients_create_container{
	min-height: 25rem;
}

.ingredient_create_container{
	margin-bottom: 0.5rem;
	width: 50%;
	display: grid;
	gap: 1rem;
	grid-template-columns: 6fr 3fr 2fr 1fr;
	width: 100%;
	font-size:  calc(1vw );
	align-items: center;

}
.steps_create_container{
	min-height: 15rem;
	overflow-x: scroll;
	line-height: 8rem;
	max-height: 15rem;

}
.step_create_container{
	margin-bottom: 0.5rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 5fr 1fr;
	width: 100%;
  height: fit-content;	

}
@media only screen and (max-width: 1700px) {
	.ingredient_create_container .fields-row-container3{
		font-size:  calc(1vw + 0.3vh);
	}

	.step_create_container{ 
		font-size: calc(1vw + 0.3vh);
	}

}

@media only screen and (max-width: 800px) {

	.ingredient_create_container{
		font-size:  calc(1vw + 0.7vh );
	}
	.step_create_container{ 
		font-size: calc(1vw + 0.7vh);
	}
}

.list_button{
	margin-top: 2rem;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5rem;
	width: 40%;
	max-width: 200px;

	border-radius: 25px;
	background-color: transparent;
	color: var(--clr-primary);
	border: 1.2px solid var(--clr-primary);
}

.list_button:hover{
	background-color:  var(--clr-primary);
	color: white;
}

.list_button_cancel{
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 40%;
  border-radius: 5px;
  background-color: transparent;
  color: var(--clr-complementary-middle);
}

.list_button_cancel:hover{
  background-color:  var(--clr-grey-friend_2);
}


.list_button_complementary{
	margin-top: 2rem;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5rem;
	width: 40%;
	max-width: 200px;
	border-radius: 25px;
	background-color: transparent;
	color: var(--clr-complementary-middle);
	border: 1.2px solid var(--clr-complementary-middle);
}

.list_button_complementary:hover{
	background-color:  var(--clr-complementary-middle);
	color: white;
}

.button_modal_submit {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
}

.primary_button {
	text-transform: uppercase;
	background-color: var(--clr-primary) !important;
	color: white;
	padding: 5px 25px;
	border-radius: 20px;
	font-size: calc(0.7rem + 0.7vw);
	font-weight: bold;
}


.primary_button:hover {
	background-color: var(--clr-light) !important;
}

.primary_button_complementary {
	text-transform: uppercase;
	padding: 5px 25px;
	border-radius: 20px;
	font-weight: bold;
}


.primary_button_outline {
	text-transform: uppercase;
	background-color: transparent !important;
	color: var(--clr-primary) !important;
	padding: 5px 25px;
	border-radius: 20px;
	font-size: 1rem;
	font-weight: bold;
	border: 1px solid var(--clr-light);
}

.primary_button_outline:hover {
	background-color: var(--clr-light) !important;
	color: white !important;
}

