.main_nav_container {
	display: grid;
	padding-bottom: 0.5rem;
	padding-top:  0.5rem;
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: white;
	grid-template-columns: 1fr 3fr 1fr;
}

.main_nav_utils {
	display: flex;
	padding: 0em 2em;
	align-items: center;	
	justify-content: space-around;

}

.search_comp_cont{
	margin-top: auto;
	margin-bottom: auto;
  top: 0 ;
}

.utils_item {
	max-width: 50px;
	min-width: 40px;
	height: min-content;
	border-radius: 40px;
	padding: 4px;
}

.drop_down {
	position: absolute;
	padding: 0.5rem;
 	display: grid;
	visibility: hidden;
	grid-template-rows: 0fr 0fr 0fr 0fr;
	z-index: 4;
	right: 15px;
	top: 50px;
	border-radius: 5%;
        box-shadow:  0px 0 5px 0 grey;
}

.drop_down_open {
	position: absolute;
	padding: 0.5rem;
 	display: grid;
	grid-template-rows: 3fr 4fr;
	gap: 15px;
	z-index: 5;
	background-color: white;
	padding: 1em;
	font-weight: bold;
	font-size: 0.65em;
        text-align: left;
	right: 30px;
	top: 60px;
	border-radius: 5%;
        box-shadow:  0px 0 5px 0 grey;
}

.drop_down_container {	
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0.25rem;
	background-color: #d3dedd;
	border-radius: 10px;
}

.drop_down_inner_container_account {
	display: flex;
	flex-direction: column;
	gap: 5px;

}

.drop_down_buttons {
	text-align: left;
}

.drop_down_sub_title {
	font-weight: lighter;	
}

.drop_down > * {
	overflow: hidden;
}

.drop_down_inner_container_info {
	display: flex;
	flex-direction: column;	
}

.main_nav_content {
	display: flex;
	align-items: center;	
	justify-content: space-around;
}

.main_nav_button {
	padding: 0.25em 1em ;
	border-radius: 20px;
  font-weight: 650;
}

.main_nav_button:hover {
	background-color: var(--clr-light_2);
}

.utils_item:hover {
	background-color: var(--clr-light_2);
}


.main_nav_button.active {
	background-color: var(--clr-light_2);
	//background-color: rgb(77, 255, 166) ;
}

.utils_item.active {
	background-color: var(--clr-light_2);
}

.mobile_nav_toggle {
	display: none;
}

.nav_container_mobile {
	display: none;
}

.logo {
	display: none;
}
@media only screen and (max-width: 800px)  {
	.nav_container_mobile {
		top: 0;
		display: block;
		position: sticky;
		z-index: 40;
		height: 80px;
		width: 100%;
		background-color: white;
		overflow: hidden;
		transition: 0.35s;
	}
	.open_menu{
		height: 300px; 
		transition: 0.35s;
	}
	.mobile_nav_toggle {
		display: grid;
		position: fixed;
		top: 1rem;
		z-index: 42;
		right: 2rem;
		width: 50px;
		height: 50px;
	}

	 .logo  {
		display: block;
		position: fixed;
		top: 1rem;
		left: 2rem;
		width: 50px;
		height: 50px;
		z-index: 101;
	}

	.main_nav_content {
		background-color: var(--clr-light_2);
		display: flex;
		flex-direction: column;
		padding-top: 1.4vh;
	}

	.main_nav_container{
		display: none;
	}
}

.body_side_nav_bar{
  min-height: 200vh;
  margin: 0;
  font-size: 1.25rem;
  color: white;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2rem;
}


nav.nav-list-cont {
  position: sticky;
  top: 0;
  max-height: 100svh;
  @apply bg-complementary;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1.25rem;
  padding-block: 2rem;
}

.nav-list li {
  padding: 1rem 2rem;
  margin-inline: 2rem;
  border-radius: 7px;
}

.nav-list li.active {
  background: var(--clr-navbar-dark);
}

