.profile_index_info {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
        text-align: center;
	gap: 1rem;
        justify-content: center;
	align-items: center;
}


.profile_index_info button{
	background-color: rgb(153, 255, 204);
	padding: 0.5rem 2rem 0.5rem;
	border-radius: 2rem;
	font-weight: bold;
}


.profile_index_info button:hover {
	background-color: rgb(77, 255, 166);
	padding: 0.5rem 2rem 0.5rem;
	border-radius: 2rem;
}
.profile_index_info h2 {
	font-weight: bold;
	font-size: 2rem;
}

.profile_index_info img {
	border-radius: 70rem;
	max-width: 15vw;
	max-height: 20vw;
}


.profile_index_user_content {
	padding-top: 6em;
	margin: 2em;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1) ;
}

.nav_buttons {
	margin: 1em 5em 1em 5em;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	justify-content: space-around;
	display: flex;
}



.nav_button {
	font-size: 1.5rem;
	font-weight: 600;
	color: #919191;
	background: none;
	border: none;
	padding: 19px;
}

.nav_button.active {
	color: #7360ff;
	border-bottom: 3px solid #7360ff;
}

.aline {
	position: absolute;
	top: 0; 
	left: 0;
	width: 90px;
	top: 62px;
	height: 5px;
	background-color: #7360ff;
}





