.nav_button svg {
	stroke: var(--clr-grey-friend_3); 
	fill: var(--clr-grey-friend_3); 
}

.nav_button.active svg {
	stroke:#F97316;
	fill:  #F97316; 
}

.nav_button.active {
	color: var(--clr-complementary-middle);
	border-bottom: 3px solid var(--clr-complementary-middle);
	
}
.nav_button.selected {
  background-color: #1E293B; 
  color: #F97316; 
  border-bottom: 3px solid #F97316;
}
.text {
  font-size: 1rem;
}
@media (max-width: 780px) {
  .nav_button .text {
    display: none;
  }
	
  .nav_button span {
    width: 20px;
    height: 20px;
	}
}


