.nav_button svg {
	stroke: var(--clr-grey-friend_3); 
	fill: var(--clr-grey-friend_3); 
}

.nav_button.active svg {
	stroke:var(--clr-complementary-middle);
	fill:  var(--clr-complementary-middle); 
}

.nav_button.active {
	color: var(--clr-complementary-middle);
	border-bottom: 3px solid var(--clr-complementary-middle);
	
}
.nav_button.selected {
	color: var(--clr-complementary-middle);
	border-bottom: 3px solid var(--clr-complementary-middle);
	
}
.text {
  font-size: 1rem;
}
@media (max-width: 780px) {
  .nav_button .text {
    display: none;
  }
	
  .nav_button span {
    width: 20px;
    height: 20px;
	}
}


