<div id={"root_layer" <> to_string(@f.index)} class="" style={if @deleted, do: "display: none"}>
  <div class="w-full max-w-md mx-auto">
    <!-- Toggle -->
    <div class="flex bg-gray-100 rounded-xl p-1 shadow-inner">
      <!-- Recipe -->
      <button
        type="button"
        phx-click="set_mode"
        phx-value-mode="recipe"
        phx-target={@myself}
        class={
        "w-1/2 py-2 text-md font-medium rounded-lg transition-all px-2 " <>
        if @mode == "recipe" do
          "bg-white text-gray-900 shadow"
        else
          "text-gray-500 hover:text-gray-700"
        end
      }
      >
        🍲 Recipe
      </button>
      
<!-- Ingredient -->
      <button
        type="button"
        phx-click="set_mode"
        phx-target={@myself}
        phx-value-mode="ingredient"
        class={
        "w-1/2 py-2 text-md font-medium rounded-lg transition-all px-2 " <>
        if @mode == "ingredient" do
          "bg-white text-gray-900 shadow"
        else
          "text-gray-500 hover:text-gray-700"
        end
      }
      >
        🥕 Ingredient
      </button>
      <div class="p-2  text-lg font-semibold">Meal</div>
    </div>
  </div>

  <input
    type="hidden"
    name={Phoenix.HTML.Form.input_name(@f, :delete)}
    value={to_string(Phoenix.HTML.Form.input_value(@f, :delete))}
  />
  <div class="p-4">
    <div class="w-full">
      <.live_component
        module={MehungryWeb.SelectComponent}
        form={@f}
        items={Enum.map(@recipes, fn x -> {Integer.to_string(x.id), x.title} end)}
        input_variable={:recipe_id}
        id={"recipe_search_component" <> Integer.to_string(@f.index)}
      />
    </div>

    <div class="flex m-auto justify-center  px-4 py-2 sm:py-4 gap-2 sm:gap-4 	 sm:flex-nowrap w-full">
      <div class="input-form   h-10 w-28">
        <.input field={@f[:cooking_portions]} type="text" label="cook" />
      </div>
      <div class="input-form   h-10 w-28">
        <.input field={@f[:consume_portions]} type="text" label="consume" />
      </div>
    </div>
  </div>
</div>
