<!DOCTYPE html>
<html lang="en" class="bg-slate-900">
  <.head conn={@conn} />
  <body class="w-full bg-slate-900 min-h-screen">
    <div class="pb-20">
      {@inner_content}
    </div>
    <%= if @current_user do %>
      <.sidebar_nav_links current_user={@current_user} inner_content={@inner_content} />
    <% end %>
  </body>
</html>
