<!DOCTYPE html>
<html lang="en">
  <.head conn={@conn} />
  <body></body>
  <ul
    style="position: absolute; right: 20px"
    class="bg-white p-4 top-0 float-end sticky absolute flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end w-50"
  >
    <%= if @current_user do %>
      <li class="text-[0.8125rem] leading-6 text-zinc-900">
        <%= @current_user.email %>
      </li>
      <li>
        <.link
          href={~p"/users/settings"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Settings
        </.link>
      </li>
      <li>
        <.link
          href={~p"/users/log_out"}
          method="delete"
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Log out
        </.link>
      </li>
    <% else %>
      <li>
        <.link
          href={~p"/users/register"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Register
        </.link>
      </li>
      <li>
        <.link
          href={~p"/users/log_in"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          Log in
        </.link>
      </li>
    <% end %>
  </ul>

  <%= if @current_user do %>
    <.sidebar_nav_links current_user={@current_user} inner_content={@inner_content} />
  <% end %>
</html>
