<!DOCTYPE html>
<html lang="en">
  <.head conn={@conn} />
  <body class=" w-full"></body>

  <%= if @current_user do %>
    <.sidebar_nav_links current_user={@current_user} inner_content={@inner_content} />
  <% end %>
</html>
