<footer class="hidden  fixed right-0 left-0 bottom-0 bg-complementaryd text-white p-4 flex">
  <div></div>
  <div class="text-center w-full">
    Copyright ©  2024 nikolisgal@gmail.com
  </div>
</footer>
