<main role="main" style="">
  <.get_menu query_string={@query_string} current_user={assigns[:current_user]} />

  <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
    <%= Phoenix.Flash.get(@flash, :info) %>
  </p>
  <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
    <%= Phoenix.Flash.get(@flash, :error) %>
  </p>
  <div style="margin-top: 60px;"><%= @inner_content %></div>
</main>
