<main role="main" class="" style="height: 100vh; ">
  <div class="mobile_header text-xl text-center text-primary font-semibold m-auto bg-slate-900  border-b border-slate-800" style="padding-bottom: 4.5rem;  ">
    <nav
      class="ml-6 absolute top-0 left-0 right-0 z-50 bg-slate-900/95 backdrop-blur-md  transition-all duration-300 h-18"
      style="height: 4; width: 16rem;"
    >
      <div class="container mx-auto  flex items-center justify-between">
        {MehungryWeb.SvgComponents.get_logo(%{id: "Live logo"})}
      </div>
    </nav>
  </div>
  <.get_menu
    query_string={@query_string}
    current_user={assigns[:current_user]}
    inner_content={@inner_content}
  />
  <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
    {Phoenix.Flash.get(@flash, :info)}
  </p>
  <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
    {Phoenix.Flash.get(@flash, :error)}
  </p>
  <div></div>
</main>


