<!DOCTYPE html>
<html lang="en" class="snap-y	snap-mandatory">
  <!-- Favicon - SVG for modern browsers -->
  <.head conn={@conn} />
  <body>
    {@inner_content}
    <.cookie_consent_banner conn={@conn} />
    <.footer />
  </body>
</html>
